@model BLL.Models.UserInput
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<title>Resale a Business Category Flat Bootstrap Responsive Website Template | Register :: w3layouts</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/bootstrap-select.css">
<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->
<!-- js -->
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>

<script type="text/javascript" src="../../js/jquery.leanModal.min.js"></script>
<link href="../../css/jquery.uls.css" rel="stylesheet" />
<link href="../../css/jquery.uls.grid.css" rel="stylesheet" />
<link href="../../css/jquery.uls.lcd.css" rel="stylesheet" />
<!-- Source -->
<script src="../../js/jquery.uls.data.js"></script>
<script src="../../js/jquery.uls.data.utils.js"></script>
<script src="../../js/jquery.uls.lcd.js"></script>
<script src="../../js/jquery.uls.languagefilter.js"></script>
<script src="../../js/jquery.uls.regionfilter.js"></script>
<script src="../../js/jquery.uls.core.js"></script>
<h2 class="head">Jobs</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <section>

        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-up">
                    <h1>Create an account</h1>
                    <p class="creating">
                        All the below fields are mandetary for signing up. <br />
                        Please provide a valid mail id and phone number for confirmation.
                    </p>
                    <h2>Personal Information</h2>
                    <h5 style="color:red;">@ViewBag.result</h5><br />
                    <div class="sign-u">
                        <div class="sign-up1">
                            <h4>Name* :</h4>
                        </div>
                        <div class="sign-up2">

                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="sign-u">
                        <div class="sign-up1">
                            <h4>Email Address* :</h4>
                        </div>
                        <div class="sign-up2">

                            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { placeholder = "Email ID" } })
                            @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="sign-u">
                        <div class="sign-up1">
                            <h4>Phone Number* :</h4>
                        </div>
                        <div class="sign-up2">

                            @Html.EditorFor(model => model.phoneno, new { htmlAttributes = new { placeholder = "Phone number" } })
                            @Html.ValidationMessageFor(model => model.phoneno, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="sign-u">
                        <div class="sign-up1">
                            <h4>Password* :</h4>
                        </div>
                        <div class="sign-up2">

                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { placeholder = "Password", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="sign-u">
                        <div class="sign-up1">
                            <h4>Confirm Password* :</h4>
                        </div>
                        <div class="sign-up2">

                            @Html.EditorFor(model => model.conPassword, new { htmlAttributes = new { placeholder = "Confirm Password", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.conPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="sub_home">
                        <div class="sub_home_left">

                            <input type="submit" value="Create">

                        </div>
                        <div class="sub_home_right">
                            <p>Go Back to <a href="@Url.Action("Home","Users")">Home</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer section start-->
        <footer class="diff">
            <p class="text-center">&copy 2016 Resale. All Rights Reserved | Design by <a href="https://aitrich.com/" target="_blank">aitrich.com</a></p>
        </footer>
        <!--footer section end-->
    </section>
}


