@model BLL.Models.UserInput
@{
    ViewBag.Title = "PostAdd";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<title>Resale a Business Category Flat Bootstrap Responsive Website Template | Register :: w3layouts</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/bootstrap-select.css">
<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->
<!-- js -->
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>

<script type="text/javascript" src="../../js/jquery.leanModal.min.js"></script>
<link href="../../css/jquery.uls.css" rel="stylesheet" />
<link href="../../css/jquery.uls.grid.css" rel="stylesheet" />
<link href="../../css/jquery.uls.lcd.css" rel="stylesheet" />
<!-- Source -->
<script src="../../js/jquery.uls.data.js"></script>
<script src="../../js/jquery.uls.data.utils.js"></script>
<script src="../../js/jquery.uls.lcd.js"></script>
<script src="../../js/jquery.uls.languagefilter.js"></script>
<script src="../../js/jquery.uls.regionfilter.js"></script>
<script src="../../js/jquery.uls.core.js"></script>


<script src="~/js/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/bootstrap-select.css">
<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/css/font-awesome.min.css" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->
<!-- js -->
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap-select.js"></script>
<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>
<script type="text/javascript" src="~/js/jquery.leanModal.min.js"></script>

<link href="~/css/jquery.uls.css" rel="stylesheet" />
<link href="~/css/jquery.uls.grid.css" rel="stylesheet" />
<link href="~/css/jquery.uls.lcd.css" rel="stylesheet" />
<!-- Source -->
<script src="~/js/jquery.uls.data.js"></script>
<script src="~/js/jquery.uls.data.utils.js"></script>
<script src="~/js/jquery.uls.lcd.js"></script>
<script src="~/js/jquery.uls.languagefilter.js"></script>
<script src="~/js/jquery.uls.regionfilter.js"></script>
<script src="~/js/jquery.uls.core.js"></script>
<script>
    $(document).ready(function () {
        $('.uls-trigger').uls({
            onSelect: function (language) {
                var languageName = $.uls.data.getAutonym(language);
                $('.uls-trigger').text(languageName);
            },
            quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
        });
    });
</script>


<h2 class="head"> Select category for posting your add.</h2>

<div class="categories">
    <div class="container">


        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Motors","Users")">
           
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-car"></i></div>
                        <h4 class="clrchg">Motors</h4>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Classifieds","Users")">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-book"></i></div>
                        <h4 class="clrchg">Classifieds</h4>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Community","Users")">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-shield"></i></div>
                        <h4 class="clrchg">Community</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Jobs","Users")">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-at"></i></div>
                        <h4 class="clrchg">Jobs</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("PropSale","Users")">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-home"></i></div>
                        <h4 class="clrchg">Property for sale</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("PropRent","Users")">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-home"></i></div>
                        <h4 class="clrchg">Property for rent</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo3").flexisel({
                    visibleItems: 1,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 5000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 1
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 1
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="js/jquery.flexisel.js"></script>
    </div>
</div>

